body {
  background-color: lightblue;
}

@media screen and (min-width: 480px) {
  body {
    background-color: lightgreen;
  }
}

.link {
  color: green;
}

.link2 {
  color: magenta;
}

.link:hover {
  color: yellow;
}
